<h3>Location Details</h3>
<div>
{{this.places}}
    <h4>{{this.title}}</h4>
    <p>{{ this.body }}</p>
  </div>
  
<a href="/locations/edit/{{this.id}}">Edit</a>

<a href="/">Destination</a> 


<a href="/locations/new">New</a>


<form action="/locations/{{this.id}}?_method=delete" method="post">
<input type="submit" value="Remove">
</form>