
  <nav>
      <div class="nav-wrapper">
        <a href="/locations" class="brand-logo">Gotta Get Back</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/locations/new">New</a></li>
          <li><a href="/locations/edit/{{this.id}}">Edit</a></li>
        </ul>
      </div>
    </nav>

<div class="container"></div>
<section class="lists">
  {{#each places}}
  <a href="/locations/{{id}}" class="test">
    <div class="col s12 m5">
      <div class="card transparent z-depth-5">
        <p>{{title}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</section>
</div>

 {{!-- <div class="container">
   {{#each places}}
  <a href="/locations/{{id}}" class="test">
      <div class="col s12 m5">
        <div class="card transparent z-depth-5">
          <span class="white-text">
            <p>{{title}}</p>
          </span>
        </div>
      </div>
    </div> --}}